*{
    padding: 0;
    margin: 0;
    font-family: sans-serif,'josefin sans';
    box-sizing: border-box;
}
/* header area css start heare */

.header-area {
    height: 100vh;
    width: 100%;
    background: url(images/main-background.jpg);
    background-position: top left;
    background-size:cover;
    background-repeat:no-repeat;
}
.header-wrapper nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 8%;
    align-items: center;
}
nav ul li {
    display: inline-block;
    padding: 30px;
   
}
ul li a {
    text-decoration: none;
    font-size: large;
    font-family: cursive;
    color: darkmagenta;
    font-weight: bold;
    text-transform: capitalize;
    transition: .9s;

}

.btn {
    text-decoration: none;
    color: currentcolor;
    font-size: larger;
    font-family: ui-monospace;
    background-color: burlywood;
    border: 2px solid transparent;
    border-radius: 5px;
}
.btn:hover{
    color: aquamarine;
    transition: 0.4s;
}
h2.logo {
    color: deeppink;
    font-size: x-large;
    font-weight: 900;
    font-family: cursive;
    letter-spacing: 1px;
    cursor: pointer;
}
span {
    color: black;
    font-size: revert;
    font-family: cursive;
    letter-spacing: 1px;
}
nav ul li a:hover {
    background-color: aquamarine;
    color: black;
    border-radius: 10px;
    padding: 20px;
}
.container {
    padding: 90px 10%;
    font-size: x-large;
    font-family: cursive;
}
.newsletter form{
    width: 380px;
}
.newsletter form input:first-child{
   
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid red;
    outline: none;
    border-radius: 30px;
    
}
.newsletter form input:last-child{
     display: inline-block;    
     outline: none;
     border: none;
     padding:10px 30px;         
     border-radius: 30px;
    border: 2px solid red;
    background-color: red;
    color: black;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 198.5px;
    right: 273px;
    transition: transform 2s;
    }
    .newsletter form input:last-child:hover{
        transform: rotate(360deg) scale(1.5);
        cursor: pointer;
    }
/* header area css end heare */

/*about area css start here*/
.about-wrapper img {
    height: auto;
    width: 480px;
}
.about-wrapper {
    background-color: lavenderblush;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 20px;
    
}

.about-area {
    background-color: aliceblue;
}
.about-text{
    padding:40px 40px;
}
/*about area css end here*/

/*services area css end here*/
/*services area css end here*/